<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TricornFieldEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <TricornFieldEditor.Properties.Settings>
            <setting name="SavedAcronyms" serializeAs="String">
                <value>PUS|RD|PDU|HVTRU|F88R|GW|VPU|GWR|HTR|PCB|EXH|LV|LH|RH|LVPSU|AER|BAE|BBC|BDR|CEF|CPS|CSI|GKM|IPE|LMR|MCT|SJC|SME|TBS|TMD|AJ|HF|GB|UK|E2V|CCD|CIS|CR|HV|FET|TX|JAS|KMT|FPA|LNA|ALS|RM12|RPD|RX|SLAA|SMA|DLR|GPS|BA|STX|TX3R|TJLJ2|TNC|MTG|TVG|TWT|VR|VHRI|LHS|HSG|WRD</value>
            </setting>
        </TricornFieldEditor.Properties.Settings>
    </userSettings>
</configuration>